<p id="notice"><%= notice %></p>

<h1>Listing Secondary Assets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secondary_assets.each do |secondary_asset| %>
      <tr>
        <td><%= secondary_asset.name %></td>
        <td><%= secondary_asset.description %></td>
        <td><%= link_to 'Show', secondary_asset %></td>
        <td><%= link_to 'Edit', edit_secondary_asset_path(secondary_asset) %></td>
        <td><%= link_to 'Destroy', secondary_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secondary asset', new_secondary_asset_path %>
