<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Primary Assets', primary_assets_path %></li>
<li><%= link_to 'Secondary Assets', secondary_assets_path %></li>

<%#<div class="btn-group btn-group-sm" role="group" aria-label="menu">%>
  <%#<div class="dropdown">%>
    <%#<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">%>
      <%#Assets %>
      <%#<span class="caret"></span>%>
    <%#</button>%>
    <%#<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">%>
      <%#<li><%= link_to 'Primary Assets', primary_assets_path %>
      <%#</li>%>
    <%#<li><%= link_to 'Secondary Assets', secondary_assets_path %>
      <%#</li>%>
    <%#</ul>%>
  <%#</div>%>
<%#</div>%>

